<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset = "UTF-8">
        <title>Planner semanal</title>
    </head>
    <body>
        <h1>Afazeres</h1>
        <ul>
            {% for afazer in afazeres %}
            <li>
                <input type="checkbox" name="finalizado" {% if afazer['finalizado'] %} checked {%endif%} onchange="this.form.submit()">
                <span {%if afazer['finalizado'] %} style="text-decoration: line-through" {%endif%}>{{ afazer['tarefa'] }}</span>
                <a href="{{ url_for('planner.edit', index=loop.index0)}}">Editar</a>
                <a href="{{ url_for('planner.delete', index=loop.index0)}}">Deletar</a>
            </li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('planner.add') }}" method="post">
            <input type="text" name="afazer">
            <button type="submit">Novo afazer</button>
        </form>
    </body>
</html>