<!DOCTYPE html>
<html>
<head>
    <title>Adicionar música</title>
</head>

<body>
    <h1>Adicionar música</h1>
    <form method="POST">

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo">
        <br><br>

        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor">
        <br><br>

        <label for="autor">Nota:</label>
        <input type="text" id="nota" name="nota">
        <br><br>
        
        <label for="autor">Avaliação:</label>
        <input type="text" id="avaliacao" name="avaliacao">
        <br><br>

        <button type="submit">
            Adicionar
        </button>
    </form>
</body>
</html>